server:
  port: 8080

spring:
  application:
    name: "accounts"
  profiles:
    active:
      - "default"
  datasource:
    username: root
    password: 'root'
    url: jdbc:mysql://localhost:3306/accountsdb
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
  config:
    import: "optional:configserver:http://localhost:8071"

management:
  endpoints:
    web:
      exposure:
        include: "*"